*{
	margin:0;
	padding: 0;
}

html,body{
height: 100%;
}

#cover{

background: url('../images/chiiii.jpg') center center no-repeat;
background-size: cover;
color: white;
height: 100vh;
text-align: center;
display: flex;
align-items: center;
}

#cover-caption{
	width: 100%
}

.section-content{
	padding: 5rem 0;
}

img{
	max-width:  200%
}

.card{
	padding: 1rem;
}

/*about*/
#about{
	background: url(../images/cattoBG.png) center center no-repeat; 
	background-size: cover;
}

.about-text{
	background: rgba(0,0,0,0.8);
	color: white;
	padding: 1.875rem;
}
/*footer*/
#footer-main{
	background: #222;
	color: white;
	font-size: 0.8rem;
	padding:2.5rem 0;
	list-style: none;
}

#footer-main a{
	color: white;
	list-style: none;
}

@media(max-width: 500px)
{

	#cover-caption h1{
		font-family: italic;

	}

	#cover-caption p{
		color:green;
		
	}

	#cover-caption button {
		
		
	}
}